<form class="addemployeecontainer" id="form">
   <section>
    <label>First Name:</label>
      <input type="text" id="fname" name="fname"  placeholder="Last Name"/>
   </section>
   <section>
    <label>Last Name:</label>
      <input type="text" id="lname" name="lname" placeholder="Last Name"/>
   </section>
   <section>
    <label>Email:</label>
      <input type="text" id="email" name="email" placeholder="Email"/>
   </section>
   <section>
    <label>Salary:</label>
      <input type="number" id="salary" name="salary" placeholder="Salary"/>
   </section>
   <section>
    <label>Date:</label>
      <input type="date" id="date" name="date" placeholder="Date"/>
   </section>
   <section>
      <button type="submit">Submit</button>
   </section>
   <button class="close">X</button>
</form>