<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management App</title>
    <link href="/css/index.css" rel="stylesheet"/>

</head>
<body>
    <header>
    <nav>
        <h2>Employee Management Application</h2>
        <section> 
            <div>
            <button class="addemployeebtn">Add Employee</button>
            <button class="logoutbtn">Logout</button>
        </div>
            <div>
                <input type="text" name="search" placeholder="Search...">
                <button class="logoutbtn">Search</button>
            </div>
        </section>

    </nav>
    </header>
    <main>
        <table>
            <thead>
              <tr>
                <td>No.</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Salary</td>
                <td>Date</td>
                <td colspan="2">Actions</td>
              </tr>
            </thead>
            <tbody class="tablebody">
            </tbody>
        </table>
        <div class="employeesection" style="display: none;">
            <%- include('components/addemployee.ejs') %>
        </div>
    </main>
    <script>
          document.querySelector('.addemployeebtn').addEventListener('click',()=>{
           const employeesection= document.querySelector('.employeesection');
           employeesection.style.display = "block";
        })
        document.querySelector('.close').addEventListener('click',()=>{
           const employeesection= document.querySelector('.employeesection');
           document.getElementById('form').reset();
           employeesection.style.display = "none";
        })
        document.getElementById('form').onsubmit=async(e)=>{
            e.preventDefault();
           const form=new FormData(e.target);
           const obj=Object.fromEntries(form.entries());
           console.log('obj',obj);
           try{
            const response=await fetch('/addemployee',{headers:{'Content-Type':'application/json'},method:'POST',
            body:JSON.stringify(obj)})
                if(response.ok)
            {
                const data=await response.json();
                document.getElementById('form').reset();
                alert(data.message);
                document.querySelector('.employeesection').style.display="none";
                return;
            }
            const error=await response.json()
            alert(error.message);
           }
           catch(error)
           {
             console.log(error);
           }
        }
        const fetchEmployees=async ()=>{
            try{
            const response=await fetch('/fetchemployees')
                if(response.ok)
            {
                const data=await response.json();

                console.log(data);
                // alert(data.message);

               const tbody= document.querySelector('.tablebody');
               data?.data?.map((e,index)=>{
                const tr= document.createElement('tr');
                const id= document.createElement('th');
                const fname= document.createElement('td');
                const lname= document.createElement('td');
                const email= document.createElement('td');
                const salary= document.createElement('td');
                const date= document.createElement('td');
                const actions= document.createElement('td');
                const edit= document.createElement('button');
                const deleteBtn= document.createElement('button');

                id.innerText=index+1;
                fname.innerText=e.firstname;
                lname.innerText=e.lastname;
                email.innerText=e.email;
                salary.innerText=e.salary;
                date.innerText=e.date;

                edit.classList.add('edit');
                deleteBtn.classList.add('delete');
                edit.innerText="Edit";
                edit.onclick=(value)=>{
                    value.preventDefault();
                     load(e._id);
                   };
                deleteBtn.innerText="Delete";
                actions.append(edit,deleteBtn)
                tr.append(id,fname,lname,email,salary,date,actions)
                tbody.append(tr);
               })
            
                return;
            }
            const error=await response.json()
            alert(error.message);
           }
           catch(error)
           {
             console.log(error);
           }
        }

        const load=(id)=>{
            console.log('load',id);
        }
        fetchEmployees();
    </script>
</body>
</html>