<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management App</title>
</head>
<body>
    <header>
        <h2>Employee Management Application</h2>
    </header>
</body>
</html>