 <%- include('components/header.ejs') %>
    <main>
        <table>
            <thead>
              <tr>
                <td>No.</td>
                <td id="firstname">First Name</td>
                <td id="lastname">Last Name</td>
                <td id="emailname">Email</td>
                <td id="salary">Salary</td>
                <td id="date">Date</td>
                <td colspan="2">Actions</td>
              </tr>
            </thead>
            <tbody class="tablebody">
            </tbody>
        </table>
        <div class="employeesection" style="display: none;">
            <%- include('components/addemployee.ejs') %>
        </div>
    </main>
    <script src="/js/index.js"></script>
</body>
</html>