body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

p {
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.addemployeebtn
{
    background-color: #007bff;
    width: 150px;
}
.logoutbtn
{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    color: black;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header nav
{
    width: 90%;  
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table
{
    width: 90%;
    margin-top: 20px;
    font-weight: 600;
}
table tbody
{
    height: 70px;
    background-color: white;
}
table tbody tr td
{
    border-bottom: 1px solid black;
    width: auto;
}
.edit,.delete
{

    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    height: 40px;
}

.actions
{
    height: 100%;
}
